- player ||= nil
.row.achievement_grid
  - achievements.each do |achievement|
    .col-md-3.achievement
      .panel.panel-default{class: achievement_class(achievement, player)}
        .panel-heading=achievement.title
        .panel-body{class: "description"}
          = t(achievement.side)
          = "(#{pluralize(achievement.points, t(:point))})"
          %br
          = raw markdown(achievement.description)
